/* Dashboard general */
.CST_fullHeight {
  height: 100vh;
}

/* Navbar custom color */
.navbar.is-fixed-top {
  background-color: #99d;
}

/*Navbar custom button-like behaviour*/
.CST_clickable {
  cursor: pointer;
}

.CST_clickable:hover {
  background-color: #2e63dd;
  color: #fff;
}

.is-active .CST_clickable:hover {
  color: #118fe4;
  background-color: #fff;
}

/* Spaced Notification */
.CST_frame {
  border: 2px solid #222;
  margin: 2rem 1rem;
  padding: 2rem;
}

.is-danger.CST_frame,
.is-success.CST_frame {
  border: none;
}

/* Grid system - dashboard */
.CST_main-grid {
  display: grid;
  grid:
    [row1S] "request request " [row1E]
    [row2S] " list list " 60vh[row2E]
    / minmax(360px, 1fr) 2fr;
  grid-gap: 12px;
}

.CST_list {
  grid-area: list;
  text-align: center;
  overflow-y: auto;
}

.CST_request {
  grid-area: request;
}

/*  Dashboard - Booklist flexitem  */
.CST_flex-list {
  display: flex;
  flex-flow: column nowrap;

  /*  background-color: #84e140; */
  color: #222;
}

.CST_flex-list-item {
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
  border: 2px groove black;

  cursor: pointer;
}

.CST_flex-list-item:first-child {
  margin-top: 2rem;
}

.CST_book-title {
  flex: 1 0 100%;
  background-color: #99d;
  font: italic 1.4rem "Times new roman";
  padding: 5px;
}
.CST_book-metadata {
  flex: 1 0 100%;
  padding: 2px;

  display: flex;
  justify-content: space-between;
}

.CST_book-metadata span {
  margin: 0 1rem;
}

.CST_book-metadata.CST_stored {
  background-color: #ddd;
}

.CST_book-metadata.CST_shared {
  background-color: #8e8;
}

.CST_book-metadata.CST_pending {
  background-color: #dd5;
}

.CST_book-metadata.CST_placeholder {
  background-color: #d5d5d5;
}
/*  Dashboard - request panel  */
.CST_panel-footer {
  text-align: center;
}

/* Library - book card item */
.CST_add-remove {
  background-color: #eee;
  border-width: 1px 0;
  border-color: #222;
  border-style: solid;
}

.CST_add {
  white-space: nowrap;
}

.CST_remove {
  white-space: nowrap;
}

.CST_is-opposed {
  justify-content: space-between;
}

.CST_is-distributed {
  justify-content: space-around;
}

.card-header {
  background-color: #88f;
}

.CST_title-date {
  padding: 1rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: #222;
}

.CST_title-button {
  background-color: #ff8;
  color: #222;

  justify-content: center;
  align-self: center;

  cursor: pointer;

  padding: 0.75rem;
  border-radius: 5px;
}
/*  Library - request info panel*/
.CST_bordered {
  text-align: center;
}

.CST_bordered .title.is-3 {
  background-color: #ccc;
  color: #222;

  padding: 1rem;
  margin: 1rem 0;

  border-width: 1px 0;
  border-color: #222;
  border-style: solid;
}

.CST_bordered .title.is-6 {
  background-color: #222;
  color: #ccc;
  padding: 1rem;
  margin: 0;
}

.CST_request-info-panel {
  border: 1px solid #222;
  background-color: #eee;
  height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-flow: column nowrap;
}

.CST_request-info-item {
  border: 1px solid #aaa;
  display: flex;
  flex-flow: column nowrap;
}

.CST_request-info-label {
  text-align: center;
  margin: 2px 4px;
  padding: 0.5rem;
  background-color: #e0e0e0;
  font: 600 0.75rem Arial;
}
.CST_request-info-data {
  font: italic 500 1rem Times;
}

.CST_request-title {
  background-color: #ccc;
  text-align: left;
  padding: 1rem;
  cursor: pointer;
}

/* Library - notification */
.notification.is-warning.has-text-centered {
  border: 2px solid #aa2;
  border-radius: 30px;
  margin: 2rem 1rem;
}

.CST_notification-label {
  font: 600 0.75rem Monospace;
  color: #111;
}

.CST_notification-footer {
  display: flex;
  justify-content: space-evenly;
}
