/* Dashboard general */
.CST_fullHeight {
  height: 100vh;
}

/*Navbar custom button-like behaviour*/
.CST_clickable {
  cursor: pointer;
}

.CST_clickable:hover {
  background-color: #2e63dd;
  color: #fff;
}

.is-active .CST_clickable:hover {
  color: #118fe4;
  background-color: #fff;
}

/* Spaced Notification */
.CST_frame {
  border: 2px solid #222;
  margin: 2rem 1rem;
  padding: 2rem;
}

.is-danger.CST_frame,
.is-success.CST_frame {
  border: none;
}

/* Grid system - dashboard */
.CST_main-grid {
  display: grid;
  grid:
    [row1S] "request request " [row1E]
    [row2S] " list list " 60vh[row2E]
    / minmax(360px, 1fr) 2fr;
  grid-gap: 12px;
}

.CST_list {
  grid-area: list;
  text-align: center;
  overflow-y: auto;
}

.CST_request {
  grid-area: request;
}

/*  Booklist flexitem  */
.CST_flex-list {
  display: flex;
  flex-flow: column nowrap;

  background-color: #84e140;
  color: #222;
}

.CST_flex-list-item {
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
  border: 2px groove black;

  cursor: pointer;
}

.CST_flex-list-item:first-child {
  margin-top: 2rem;
}

.CST_flex-list-item.CST_shared {
  background-color: #14e120;
}

.CST_placeholder .CST_book-title {
  background-color: #ded;
}

.CST_book-title {
  flex: 1 0 100%;
  background-color: #a4e180;
  font: italic 1.2rem "Times new roman";
  padding: 5px;
}
.CST_book-metadata {
  flex: 1 0 100%;
  padding: 2px;
}

/* Library card item */
.CST_add {
  white-space: nowrap;
}

.CST_remove {
  white-space: nowrap;
}

.CST_is-opposed {
  justify-content: space-between;
}

.CST_is-distributed {
  justify-content: space-around;
}
.CST_title-date {
  padding: 1rem;
  font-size: 0.75rem;
  font-weight: bold;
}

/* request panel  */
.CST_panel-header {
  text-align: center;
  background-color: #811;
  color: #fff;
}

.CST_panel-window {
  background-color: #84e140;
}
.CST_panel-window.CST_disabled {
  background-color: #ccc;
}

.CST_panel-footer {
  text-align: center;
  background-color: #84e140;
}

/*  Request library panel*/
.CST_bordered {
  /*   border: 1px solid #111; */
  text-align: center;
}
